.input {
    outline: none;
    box-sizing: border-box;
    padding: 4px 8px 4px 8px;
    min-width: 300px;
    min-height: 32px;
    background: #282727;
    color: #FFFFFF;
    border: 0.5px solid #666666;
    border-radius: 4px;
}

.input::placeholder {
    color: #666666;
}

@media screen and (min-width: 768px) {
    .input {
        width: 30%;
    }
}
